<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<title>服务器列表</title>
<link rel="stylesheet" href="/layui/css/layui.css" media="all">
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"
	media="all" />
<link rel="stylesheet" href="listServerInfo.css" media="all">
<link rel="stylesheet" href="/css/public.css" media="all" />
</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
				<div class="layui-input-inline">
					<input id="serachServerInfoContent" type="text"
						class="layui-input searchVal" placeholder="请输入要搜索的服务器ip"
						maxLength=50 />
				</div>
			</div>
			<div class="layui-inline">
				<a id="searchServerInfo" class="layui-btn search_btn"
					data-type="reload">搜索</a>
			</div>
			<div class="layui-inline">
				<a id="addServerInfo_btn"
					class="layui-btn layui-btn-normal addServerInfo_btn">添加</a>
			</div>
			<div class="layui-inline">
				<a id="deleteInBatch"
					class="layui-btn layui-btn-danger deleteInBatch"
					lay-event="deleteInBatch" lay-filter="deleteInBatch">批量删除</a>
			</div>



			<div class="layui-inline">
				<a id="executeShellInBatch"
					class="layui-btn layui-btn-danger executeShellInBatch"
					lay-event="executeShellInBatch" lay-filter="executeShellInBatch">批量执行命令</a>
			</div>

			<div class="layui-inline">
				<a id="checkServerCanBeConnectedInBatch"
					class="layui-btn layui-btn-normal checkServerCanBeConnectedInBatch"
					lay-event="checkServerCanBeConnectedInBatch"
					lay-filter="checkServerCanBeConnectedInBatch">批量检测连通性</a>
			</div>

			<div class="layui-inline">
				<a id="refreshServerInfoList"
					class="layui-btn  layui-btn-normal refreshServerInfoList"
					lay-event="refreshServerInfoList"
					lay-filter="refreshServerInfoList">刷新</a>
			</div>
		</form>
	</blockquote>
	<table class="layui-hide" id="serverInfoListTable"
		lay-filter="serverInfoListTable"></table>
	<script type="text/html" id="operationBar">
  			<!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
  			<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit"><i class="fa fa-pencil"></i></a>
  			<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="fa fa-trash"></i></a>
			<a class="layui-btn layui-btn-xs" lay-event="executeShell">执行命令</a>
			<a class="layui-btn layui-btn-xs" lay-event="checkServerCanBeConnected">检测连通性</a>
        </script>
</body>
<script src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="CommonServerInfo.js"></script>
<script src="listServerInfo.js"></script>
</html>
