<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<title>java文件解析列表</title>
<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"
	media="all" />
<link rel="stylesheet" href="listJavaParserRecord.css" media="all" />
<link rel="stylesheet" href="/css/public.css" media="all" />
</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
				<div class="layui-input-inline">
					<input id="serachJavaParserRecordContent" type="text"
						class="layui-input searchVal" placeholder="请输入要搜索的项目名称"
						maxlength="50">
				</div>
			</div>
			<div class="layui-inline">
				<a id="searchJavaParserRecord" class="layui-btn search_btn"
					data-type="reload" title="搜索">搜索</a>
			</div>
			<div class="layui-inline">
				<a id="addJavaParserRecord_btn"
					class="layui-btn layui-btn-normal addJavaParserRecord_btn"
					title="添加">添加</a>
			</div>
			<div class="layui-inline">
				<a id="deleteInBatch"
					class="layui-btn layui-btn-danger layui-btn-normal deleteInBatch"
					lay-event="deleteInBatch" lay-filter="deleteInBatch" title="批量删除">批量删除</a>
			</div>
			<div class="layui-inline">
				<a id="refreshJavaParserRecordList"
					class="layui-btn layui-btn-success layui-btn-normal refreshJavaParserRecordList"
					lay-event="refreshJavaParserRecordList"
					lay-filter="refreshJavaParserRecordList" title="刷新">刷新</a>
			</div>
		</form>
	</blockquote>
	<!--  <a id="getIncrementData" class="layui-btn layui-btn-disabled   layui-btn-xs" lay-event="getIncrementData" onclick="return false;" disabled>没有增量</a>
	<a id="getWholeData" class="layui-btn layui-btn-disabled   layui-btn-xs" lay-event="getWholeData" onclick="return false;" disabled>没有全量</a>
	-->
	<table class="layui-hide" id="javaParserRecordListTable"
		lay-filter="javaParserRecordListTable"></table>
	<script type="text/html" id="operationBar">
			<a id="edit" class="layui-btn   layui-btn-xs layui-btn-primary" lay-event="edit" title="编辑">
				<i class="fa fa-pencil"></i>
			</a>
  			<a id="del" class="layui-btn layui-btn-danger   layui-btn-xs" lay-event="del" title="删除">
				<i class="fa fa-trash"></i>
			</a>
			<a id="createRequestMappingSource" class="layui-btn layui-btn-primary   layui-btn-xs" lay-event="createRequestMappingSource" title="生成">
				生成解析报告
			</a>
			
			{{# if(d.resultUrl !== null && d.resultUrl.trim() !== ""){}}
                <a id="resetJavaParserRecordData" class="layui-btn layui-btn-danger   layui-btn-xs" title="删除数据" lay-event="resetJavaParserRecordData">重置数据</a>
            {{# } else{}}
            {{# } }}

			{{# if(d.resultUrl !== null && d.resultUrl.trim() !== ""){}}
                <a id="downloadResult" class="layui-btn layui-btn-primary   layui-btn-xs" title="下载" lay-event="downloadResult">下载数据</a>
            {{# } else{}}
            {{# } }}
        </script>
	<script src="/layui/layui.js"></script>
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script src="commonOperation.js"></script>
	<script src="listJavaParserRecord.js"></script>
</body>
</html>