<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>查看dubbo接口测试</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/css/public.css" media="all" />
</head>
<body>
	<form id="addDubboTestForm" class="layui-form layui-form-pane"
		method="post">
		<div class="layui-form-item">
			<label class="layui-form-label">ID</label>
			<div class="layui-input-block">
				<input type="text" id="id" name="id" class="layui-input id"
					lay-verify="id" placeholder="暂无数据" disabled>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">用例名称</label>
			<div class="layui-input-block">
				<input type="text" id="caseName" name="caseName"
					class="layui-input caseName" lay-verify="caseName"
					placeholder="暂无数据" disabled>
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">协议名称</label>
			<div class="layui-input-block">
				<input type="text" id="protocolName" name="protocolName"
					class="layui-input protocolName" lay-verify="protocolName"
					placeholder="暂无数据" disabled>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">地址</label>
			<div class="layui-input-block">
				<input type="text" id="address" name="address"
					class="layui-input address" lay-verify="address" placeholder="暂无数据"
					disabled>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">组</label>
			<div class="layui-input-block">
				<input type="text" id="groupName" name="groupName"
					class="layui-input groupName" lay-verify="groupName"
					placeholder="暂无数据" disabled>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">接口名称</label>
			<div class="layui-input-block">
				<input type="text" id="interfaceName" name="interfaceName"
					class="layui-input interfaceName" lay-verify="interfaceName"
					placeholder="暂无数据" disabled>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">方法名称</label>
			<div class="layui-input-block">
				<input type="text" id="methodName" name="methodName"
					class="layui-input methodName" lay-verify="methodName"
					placeholder="暂无数据" disabled>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">版本号</label>
			<div class="layui-input-block">
				<input type="text" id="version" name="version"
					class="layui-input version" lay-verify="version" placeholder="暂无数据"
					disabled>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">消费者名称</label>
			<div class="layui-input-block">
				<input type="text" id="client" name="client"
					class="layui-input client" lay-verify="client" placeholder="暂无数据"
					disabled>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">输入参数</label>
			<div class="layui-input-block">
				<textarea type="text" id="incomeParams" name="incomeParams"
					class="layui-input incomeParams" lay-verify="incomeParams"
					placeholder="暂无数据" disabled></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">dubbo协议上下文参数</label>
			<div class="layui-input-block">
				<input type="text" id="dubboContextParams" name="dubboContextParams"
					class="layui-input dubboContextParams"
					lay-verify="dubboContextParams" placeholder="暂无数据" disabled>
			</div>
		</div>
		<label class="layui-form-label">dubbo测试返回值</label>
		<div class="layui-input-block">
			<input type="text" id="dubboTestResponse" name="dubboTestResponse"
				class="layui-input dubboTestResponse" lay-verify="dubboTestResponse"
				placeholder="暂无数据" disabled>
		</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">待检查项</label>
			<div class="layui-input-block">
				<input type="text" id="dubboTestCheck" name="dubboTestCheck"
					class="layui-input dubboTestCheck" lay-verify="dubboTestCheck"
					placeholder="暂无数据" disabled>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">测试结果</label>
			<div class="layui-input-block">
				<input type="text" id="dubboTestResult" name="dubboTestResult"
					class="layui-input dubboTestResult" lay-verify="dubboTestResult"
					placeholder="暂无数据" disabled>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">接口测试描述</label>
			<div class="layui-input-block">
				<input type="text" id="caseDesc" name="caseDesc"
					class="layui-input caseDesc" lay-verify="caseDesc"
					placeholder="暂无数据" disabled />
			</div>
		</div>
		<div class="layui-form-item" style="display: block">
			<label class="layui-form-label">创建时间</label>
			<div class="layui-input-block">
				<input type="text" id="createDate" name="createDate"
					class="layui-input createDate" placeholder="暂无数据" disabled />
			</div>
		</div>

		<div class="layui-form-item" style="display: block">
			<label class="layui-form-label">修改时间</label>
			<div class="layui-input-block">
				<input type="text" id="updateDate" name="updateDate"
					class="layui-input updateDate" placeholder="暂无数据" disabled />
			</div>
		</div>
	</form>
	<script type="text/javascript" src="/layui/layui.js"></script>
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../../commonCheck.js"></script>
</body>
</html>