<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>检测连通性</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/css/public.css" media="all" />
</head>
<body>
	<form id="checkServerCanBeConnectedForm" class="layui-form layui-form-pane" action="#">
		<div class="layui-form-item" pane>
			<label class="layui-form-label" title="检测服务器是否可连通">检测连通性</label>
			<div class="layui-input-block">
				<button id="checkServerCanBeConnectedSubmit" class="layui-btn"
					lay-submit="" lay-filter="checkServerCanBeConnectedSubmit">开始检测</button>
			</div>
		</div>
	</form>

	<table id="checkResultTable" class="layui-hide layui-table"
		style="width: 100%; table-layout: fixed" lay-size="lg"
		lay-filter="checkResultTable"></table>
</body>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../commonCheck.js"></script>
<script type="text/javascript" src="../../CommonUtil.js"></script>
<script type="text/javascript" src="CommonServerInfo.js"></script>
<script type="text/javascript" src="checkServerCanBeConnected.js"></script>
</html>