<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>添加定时任务</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/css/public.css" media="all" />
</head>
<body>
	<form id="addTimerTaskForm" class="layui-form layui-form-pane"
		method="post">
		<div class="layui-form-item">
			<label class="layui-form-label formItem-required" title="任务名称">任务名称</label>
			<div class="layui-input-block">
				<input type="text" id="taskName" name="taskName"
					class="layui-input taskName" lay-verify="required|taskName"
					placeholder="请输入任务名称" maxLength=50 lay-verType="tips">
			</div>
		</div>
		<div class="layui-form-item" pane>
			<label class="layui-form-label" title="是否关闭定时任务,关闭了默认不执行">是否关闭</label>
			<div class="layui-input-block layui-form">
				<input type="radio" name="closed" value="true" title="是"
					lay-filter='required||closed' checked /> <input type="radio"
					name="closed" value="false" lay-filter='required||closed' title="否" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label" title="任务所属组">所属组</label>
			<div class="layui-input-block">
				<input type="text" id="taskGroup" name="taskGroup"
					class="layui-input taskGroup" lay-verify="taskGroup"
					placeholder="请输入任务所属组" maxLength=50>
			</div>
		</div>
		<div class="layui-form-item layui-form">
			<label class="layui-form-label formItem-required" title="任务执行时关联的策略">关联策略</label>
			<div class="layui-input-block layui-form">
				<select class="layui-form" id="policyId" name="policyId"
					lay-verify="required||policyId" lay-verType="tips"
					lay-filter="policyId" size='3'>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label" title="定时配置(Cron表达式)">定时配置</label>
			<div class="layui-input-block">
				<input type="text" id="config" name="config"
					class="layui-input config" lay-verify="config"
					placeholder="请输入定时配置" maxLength=100>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"
				title="其他参数(需要以key=value&key=value形式传递)">其他参数</label>
			<div class="layui-input-block">
				<textarea type="text" id="otherParams" name="otherParams"
					class="layui-textarea otherParams" lay-verify="otherParams"
					placeholder="请输入其他参数" maxLength=1000></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label" title="任务描述">任务描述</label>
			<div class="layui-input-block">
				<textarea id="description" name="description"
					class="layui-textarea description" placeholder="请输入任务描述"
					lay-verify="description" maxLength=1000></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button id="addTimerTaskSubmit" class="layui-btn" lay-submit=""
					lay-filter="addTimerTaskSubmit">立即提交</button>
				<button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>
</body>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../commonCheck.js"></script>
<script src="../timerTaskPolicy/listTimerTaskPolicy.js"></script>
<script type="text/javascript" src="addTimerTask.js"></script>
</html>