<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>查看物品借还历史</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/css/public.css" media="all" />
</head>
<body>
	<table class="layui-hide" id="viewGoodOperationRecordsTable"
		lay-filter="viewGoodOperationRecordsTable"></table>

	<script type="text/html" id="operationType">
        <span name="operationType" lay-filter="operationType" >{{ d.operationType == "borrow" ? '借用' : "归还" }}</span>
    </script>
    
    <script type="text/html" id="keepOvertime">
        <span name="keepOvertime" lay-filter="keepOvertime" >{{ (d.keepOvertime == "true" || d.keepOvertime == true) ? '是' : "否" }}</span>
    </script>
	<script type="text/javascript" src="/layui/layui.js"></script>
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../../commonCheck.js"></script>
	<script type="text/javascript" src="../../CommonUtil.js"></script>
	<script type="text/javascript" src="CommonGoodOperationRecord.js"></script>
	<script type="text/javascript" src="viewGoodOperationRecordByGoodId.js"></script>
</body>
</html>