<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>添加测试环境地址</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/css/public.css" media="all" />
</head>
<body>
	<label for="location">Please pick a travel destination</label>
	<div>
		<select id="location" required="required">
			<option selected>请选择</option>
			<option>Indiana</option>
			<option>Fuji</option>
			<option>Timbuktu</option>
			<option>Alaska</option>
		</select>
	</div>
	<div>
		<input type="image" src="/images/alipay.jpg" />
	</div>

	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/layui/layui.js"></script>
</body>
</html>