<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.administrator.platform.mapper.JavaParserRecordMapper">
	<resultMap id="BaseResultMap"
		type="com.administrator.platform.model.JavaParserRecord">
		<id column="id" jdbcType="BIGINT" javaType="java.lang.Long"
			property="id" />
		<result column="project_name" jdbcType="VARCHAR"
			property="projectName" />
		<result column="newer_remote_url" jdbcType="VARCHAR"
			property="newerRemoteUrl" />
		<result column="newer_version" jdbcType="VARCHAR"
			property="newerVersion" />
		<result column="username" jdbcType="VARCHAR"
			property="username" />
		<result column="password" jdbcType="VARCHAR"
			property="password" />
		<result column="version_control_type" jdbcType="VARCHAR"
			property="versionControlType" />
		<result column="description" jdbcType="VARCHAR"
			property="description" />
		<result column="result_url" jdbcType="VARCHAR"
			property="resultUrl" />
		<result column="pinyin_name" jdbcType="VARCHAR"
			property="pinYinName" />
		<result column="create_date" jdbcType="TIMESTAMP"
			property="createDate" />
		<result column="update_date" jdbcType="TIMESTAMP"
			property="updateDate" />
		<result column="create_user" jdbcType="VARCHAR"
			property="createUser" />
		<result column="update_user" jdbcType="VARCHAR"
			property="updateUser" />
	</resultMap>
	<sql id="Base_Column_List">
		id,
		project_name,
		newer_remote_url,
		newer_version,
		username,
		password,
		description,
		result_url,
		pinyin_name,
		version_control_type,
		create_date,
		update_date,
		create_user,
		update_user
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_java_file_parser
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="findJavaParserRecordesByProjectName"
		parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_java_file_parser
		where project_name = #{projectName}
	</select>

	<select id="findJavaParserRecordesByProjectNameLike"
		parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_java_file_parser
		where project_name like CONCAT(#{projectName},
		'%')
	</select>

	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_java_file_parser
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		tb_java_file_parser
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByIds" parameterType="java.lang.Long">
		delete from
		tb_java_file_parser
		where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id,jdbcType=BIGINT}
		</foreach>
	</delete>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.administrator.platform.model.JavaParserRecord">
		update tb_java_file_parser
		<set>
			<if test="projectName != null">
				project_name = #{projectName,jdbcType=VARCHAR},
			</if>
			<if test="newerRemoteUrl != null">
				newer_remote_url = #{newerRemoteUrl,jdbcType=VARCHAR},
			</if>
			<if test="versionControlType != null">
				version_control_type =
				#{versionControlType,jdbcType=VARCHAR},
			</if>
			username = #{username,jdbcType=VARCHAR}, password =
			#{password,jdbcType=VARCHAR}, description =
			#{description,jdbcType=VARCHAR},
			update_date =
			CURRENT_TIMESTAMP()
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="updateByPrimaryKey"
		parameterType="com.administrator.platform.model.JavaParserRecord">
		update tb_java_file_parser
		<set>
			<if test="projectName != null">
				project_name = #{projectName,jdbcType=VARCHAR},
			</if>
			<if test="newerRemoteUrl != null">
				newer_remote_url = #{newerRemoteUrl,jdbcType=VARCHAR},
			</if>
			<if test="versionControlType != null">
				version_control_type =
				#{versionControlType,jdbcType=VARCHAR},
			</if>
			username =
			#{username,jdbcType=VARCHAR},
			password =
			#{password,jdbcType=VARCHAR},
			result_url =
			#{resultUrl,jdbcType=VARCHAR},
			pinyin_name=
			#{pinYinName,jdbcType=VARCHAR},
			newer_version=
			#{newerVersion,jdbcType=VARCHAR},
			description =
			#{description,jdbcType=VARCHAR},
			update_date =
			CURRENT_TIMESTAMP()
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<insert id="insert"
		parameterType="com.administrator.platform.model.JavaParserRecord">
		insert into tb_java_file_parser (id,
		project_name,
		newer_remote_url,
		newer_version,
		username,
		password,
		description,
		result_url,
		pinyin_name,
		version_control_type,
		create_date,
		update_date
		)
		values
		(#{id,jdbcType=BIGINT},
		#{projectName,jdbcType=VARCHAR},
		#{newerRemoteUrl,jdbcType=VARCHAR},
		#{newerVersion,jdbcType=VARCHAR},
		#{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{resultUrl,jdbcType=VARCHAR},
		#{pinYinName,jdbcType=VARCHAR},
		#{versionControlType,jdbcType=VARCHAR},
		CURRENT_TIMESTAMP(),
		CURRENT_TIMESTAMP()
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.administrator.platform.model.JavaParserRecord">
		insert into tb_java_file_parser
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="projectName != null">
				project_name,
			</if>
			<if test="newerRemoteUrl != null">
				newer_remote_url,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="versionControlType != null">
				version_control_type ,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="projectName != null">
				#{projectName,jdbcType=VARCHAR},
			</if>
			<if test="newerRemoteUrl != null">
				#{newerRemoteUrl,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="versionControlType != null">
				#{versionControlType,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>