<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.administrator.platform.mapper.SysUserRoleMapper">
	<resultMap id="BaseResultMap"
		type="com.administrator.platform.model.SysUserRole">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="user_id" jdbcType="BIGINT" property="userId" />
		<result column="role_id" jdbcType="BIGINT" property="roleId" />
	</resultMap>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.administrator.platform.model.SysUserRole">
		insert
		into sys_user_role (user_id, role_id)
		values
		(#{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
	</insert>
	<insert id="insertSelective"
		parameterType="com.administrator.platform.model.SysUserRole">
		insert into sys_user_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<sql id="Base_Column_List">
		user_id, role_id
	</sql>

	<delete id="deleteSysUserRoleBySysUserId"
		parameterType="java.lang.Long">
		delete from sys_user_role where user_id=#{sysUserId};
	</delete>

	<select id="getSysUserRoleByUserIdAndRoleId"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"></include>

		from sys_user_role where user_id=#{userId} and role_id=#{roleId};
	</select>
</mapper>