<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.administrator.platform.mapper.SysUserRoleMapper">
	<resultMap id="BaseResultMap"
		type="com.administrator.platform.model.SysUserRole">
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="role_id" jdbcType="VARCHAR" property="roleId" />
	</resultMap>
	<insert id="insert"
		parameterType="com.administrator.platform.model.SysUserRole">
		insert into sys_user_role (user_id, role_id)
		values
		(#{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.administrator.platform.model.SysUserRole">
		insert into sys_user_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<sql id="Base_Column_List">
		user_id, role_id
	</sql>
</mapper>