<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>全局参数配置</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/css/public.css" media="all" />
</head>
<body>
	<form id="addGlobalParam" class="layui-form layui-form-pane"
		method="post">
		<div class="layui-form-item">
			<label class="layui-form-label">参数Key</label>
			<div class="layui-input-block">
				<input type="text" id="paramKey" name="paramKey"
					class="layui-input paramKey" lay-verify="paramKey"
					placeholder="请输入参数Key" maxLength=50>
			</div>
		</div>


		<div class="layui-form-item">
			<label class="layui-form-label">参数Value</label>
			<div class="layui-input-block">
				<input type="text" id="paramValue" name="paramValue"
					class="layui-input paramValue" placeholder="请输入参数值"
					lay-verify="paramValue" maxLength=500 />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">参数描述</label>
			<div class="layui-input-block">
				<input type="text" id="paramComment" name="paramComment"
					class="layui-input paramComment" placeholder="请输入参数描述"
					lay-verify="paramComment" maxLength=50 />
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button id="addGlobalParamSubmit" class="layui-btn" lay-submit=""
					lay-filter="addGlobalParamSubmit">立即提交</button>
				<button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>
	<script type="text/javascript" src="/layui/layui.js"></script>
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../../commonCheck.js"></script>
	<script type="text/javascript" src="addGlobalParam.js"></script>
</body>
</html>