<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>用户中心</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/css/public.css" media="all" />
</head>
<body class="childrenBody">
	<div class="layui-inline">
		<div class="layui-input-inline">
			<input id="serachSysUserContent" type="text"
				class="layui-input searchVal" placeholder="请输入要搜索的帐号名称" maxLength=50 />
		</div>
	</div>
	<div class="layui-inline">
		<a id="searchSysUser" class="layui-btn search_btn" data-type="reload">搜索</a>
	</div>
	<div class="layui-inline">
		<a id="addSysUser_btn"
			class="layui-btn layui-btn-normal addSysUser_btn">添加</a>
	</div>
	<div class="layui-inline">
		<a id="deleteInBatch"
			class="layui-btn layui-btn-danger layui-btn-normal deleteInBatch"
			lay-event="deleteInBatch" lay-filter="deleteInBatch">批量删除</a>
	</div>
	<div class="layui-inline">
		<a id="refreshSysUserList"
			class="layui-btn layui-btn-success layui-btn-normal refreshSysUserList"
			lay-event="refreshSysUserList" lay-filter="refreshSysUserList">刷新</a>
	</div>
	<table id="sysUserListTable" lay-filter="sysUserListTable"></table>

	<!--操作-->
	<script type="text/html" id="optionBar">
		<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
		<a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
		{{# if(d.userStatus){}}
				<a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="usable">已冻结</a>
            {{# } else{}}
                <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="usable">已启用</a>
            {{# } }}
		
		<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
	</script>
	<script type="text/javascript" src="/layui/layui.js"></script>
	<script type="text/javascript" src="listSysUser.js"></script>
</body>
</html>