<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>查看系统用户</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/css/public.css" media="all" />
</head>
<body>
	<form id="addSysUserForm" class="layui-form layui-form-pane"
		method="post">
		<div class="layui-form-item">
			<label class="layui-form-label">登录帐号</label>
			<div class="layui-input-block">
				<input type="text" id="userAccount" name="userAccount"
					class="layui-input userAccount" lay-verify="userAccount"
					placeholder="暂无数据" disabled>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">密码</label>
			<div class="layui-input-block">
				<input type="password" id="userPassword" name="userPassword"
					class="layui-input userPassword" placeholder="暂无数据"
					lay-verify="password" disabled />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">用户昵称</label>
			<div class="layui-input-block">
				<input type="text" id="userNickname" name="userNickname"
					class="layui-input userNickname" placeholder="暂无数据"
					lay-verify="userNickname" disabled />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">手机号</label>
			<div class="layui-input-block">
				<input type="text" id="mobilePhone" name="mobilePhone"
					class="layui-input mobilePhone" placeholder="暂无数据"
					lay-verify="phone" disabled />
			</div>
		</div>
		<div class="layui-form-item" pane>
			<label class="layui-form-label">性别</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" id="sex" name="sex"
					placeholder="暂无数据" disabled>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">是否启用</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" id="userStatus"
					name="userStatus" placeholder="暂无数据" disabled>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">是否管理员</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" id="admin" name="admin"
					placeholder="暂无数据" disabled>
			</div>
		</div>
		<div class="layui-form-item" style="display: block">
			<label class="layui-form-label">创建时间</label>
			<div class="layui-input-block">
				<input type="text" id="createDate" name="createDate"
					class="layui-input createDate" placeholder="暂无数据" disabled />
			</div>
		</div>

		<div class="layui-form-item" style="display: block">
			<label class="layui-form-label">修改时间</label>
			<div class="layui-input-block">
				<input type="text" id="updateDate" name="updateDate"
					class="layui-input updateDate" placeholder="暂无数据" disabled />
			</div>
		</div>
	</form>
	<script type="text/javascript" src="/layui/layui.js"></script>
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../../commonCheck.js"></script>
</body>
</html>